html{
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body{
	height: 100%;
	margin: 0px;
	padding: 0px;
}
div,p,ul,table,th,td{
/*	border: 1px solid DarkOrchid;*/
}

ul{
	list-style:none;
}

input{
	width: 160px;
}

.error_tip
{
	color: red;
}

.hide
{
	display: none;
}
.invalid{
	opacity: 0.5;
}