/* CSS Document */

.changePassword
{
	text-align: center;
}

.changePassword_from ul p
{
/*
	margin:  0px;
	padding:  0px;
*/
	width: 200px;
}

.changePassword_from
{
	width: 280px;
	margin: 2% auto;
/*	border:  1px solid;*/
}